@import '~@angular/material/theming';

@include mat-core();

$app-primary: (
    50 : #e4f7ea,
    100 : #bbeacc,
    200 : #8edcaa,
    300 : #61ce87,
    400 : #3fc46e,
    500 : #1db954,
    600 : #1ab24d,
    700 : #15aa43,
    800 : #11a23a,
    900 : #0a9329,
    A100 : #c1ffcc,
    A200 : #8effa3,
    A400 : #5bff79,
    A700 : #41ff64,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$app-accent: (
    50 : #eaf3fe,
    100 : #cbe1fc,
    200 : #a8cdfa,
    300 : #85b9f8,
    400 : #6aaaf7,
    500 : #509bf5,
    600 : #4993f4,
    700 : #4089f2,
    800 : #377ff0,
    900 : #276dee,
    A100 : #ffffff,
    A200 : #f6f9ff,
    A400 : #c3d7ff,
    A700 : #aac6ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



$app-red: (
    50 : #fce1e2,
    100 : #f8b5b6,
    200 : #f48386,
    300 : #ef5156,
    400 : #eb2c31,
    500 : #e8070d,
    600 : #e5060b,
    700 : #e20509,
    800 : #de0407,
    900 : #d80203,
    A100 : #ffffff,
    A200 : #ffcdcd,
    A400 : #ff9a9a,
    A700 : #ff8080,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$app-theme: mat-light-theme(mat-palette($app-primary), mat-palette($app-accent), mat-palette($app-red));

@include angular-material-theme($app-theme);
