.song-image {
    background-size: cover;
  }

  .song-card {
    max-width: 300px;
    padding-bottom: 0px;
    margin-bottom: 1rem;
  }

  .song-card-header button {
    margin-left: auto !important;
  }