<mat-card *ngIf="song" class="song-card">
  <mat-card-header class="song-card-header">
    <div mat-card-avatar [ngStyle]="{ 'background-image': 'url(' + song.album?.images[0]?.url + ')'}"></div>
    <mat-card-title>{{ song.name}}</mat-card-title>
    <mat-card-subtitle>{{song.artists[0]?.name}} | {{song.album?.name}}</mat-card-subtitle>
    <button *ngIf="state !== 'queue'" (click)="addSongInTheQueue(song)" class="add-song" mat-mini-fab color="primary"
      title="add this song to the playlist queue">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-header>
</mat-card>